:root {
  --header-background: #000036;
  --header-font-color: #ffc6d9;
  --header-font: "Lemonada", serif, sans-serif;
  --para-font: "Ubuntu", sans-serif;
  --nav-primary-background: #f3752b;
  --nav-primary-font: #000036;
  --nav-secondary-background: #7b5e7b;
  --nav-secondary-font: #f3752b;
  --current-page-background: #fff;
  --h-font: #7b5e7b;
  --p-font: #000036;
}

body {
  max-width: 425px;
}

/* --------------------------------------font sizes------------------------------------- */
h1,
h2,
h3 {
  font-family: var(--header-font);
  text-align: center;
}

p {
  font-family: var(--para-font);
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 15px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

/* ----------------------------------------header------------------------------------------------- */
.logobox {
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--header-background);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo,
.footerlogo {
  width: 25%;
  height: auto;
  margin: 10px;
}

.logo img,
.footerlogo img {
  width: 100%;
  border-radius: 5px;
  filter: blur(0);
  transition: 1.5s;
  max-width: 107px;
  box-shadow: 1px 1px 10px black;
}

.logo img[data-src] {
  min-width: 50px;
  min-height: 50px;
  filter: blur(0.3em);
  transition: 1.5s;
}

.siteheader {
  font-family: var(--header-font);
  font-size: 40px;
  color: var(--header-font-color);
  margin: 0 10px;
}

/* --------------------------------------hamburger button & Navigation------------------------------------- */
.ham {
  max-width: 63px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--p-font);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 50px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navigation li {
  display: none;
  margin-top: 10px;
  transition: 0.5s;
}

.responsive li {
  display: block;
  text-align: center;
  justify-content: center;
}

.navigation li:first-child {
  display: block;
  max-width: 63px;
  margin: 0 auto;
}

.navigation li:hover:nth-child(odd) {
  transition: 0.5s;
  transform: skew(5deg, -5deg);
  border-radius: 5px;
}

.navigation li:hover:nth-child(even) {
  transition: 0.5s;
  transform: skew(-5deg, 5deg);
  border-radius: 5px;
}

.navigation li a:hover {
  background-color: var(--h-font);
  color: var(--current-page-background);
}

.navigation {
  list-style: none;
  padding: 0;
  font-family: var(--header-font);
  font-size: 30px;
}

.navigation a {
  display: flex;
  flex-flow: row wrap;
  padding: 0.75rem;
  text-decoration: none;
  color: var(--nav-primary-font);
  transition: 0.5s;
  background-color: var(--nav-primary-background);
  border-radius: 5px;
  justify-content: center;
}

.navigation li .currentpage {
  background-color: var(--nav-secondary-background);
  color: var(--current-page-background);
  transition: .5s;
  scale: 1.4;
}



/* ------------------------------------------------------------------Footer------------------------------------------------------- */
footer {
  font-family: var(--header-font);
  background-color: var(--nav-secondary-background);
  margin-top: 10px;
  text-align: center;
  color: var(--nav-secondary-font);
  padding: 5px;
}

.content {
  margin-top: 10px;
}

.footerlogo img {
  max-width: 58px;
  transition: 0.5s;
}

.footerlogo img:hover {
  transform: skew(5deg, -5deg);
  transition: 0.5s;
}

.link {
  text-decoration: none;
  color: var(--current-page-background);
  transition: 0.5s;
}

.link:nth-child(even):hover {
  color: var(--header-font-color);
  transition: 0.5s;
  transform: skew(-5deg, 5deg);
}
.link:nth-child(odd):hover {
  color: var(--header-font-color);
  transition: 0.5s;
  transform: skew(5deg, -5deg);
}

hr {
  border-top: 1px dashed var(--header-font-color);
  border-bottom: 0;
}

.lastupdated {
  font-style: italic;
}

footer .ft {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

footer .ft p {
  padding: 10px;
}

/* -------------------------------------Home Banner ----------------------------- */
.home-banner {
  max-width: 425px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 10px;
}

.home-banner-img {
  max-width: 425px;
  height: auto;
  width: 100%;
  grid-row: 1/6;
  grid-column: 1/5;
  filter: blur(0);
  transition: 0.5s;
}

.home-banner-img[data-src] {
  filter: blur(0.5em);
  transition: 0.5s;
  max-width: 425px;
  height: auto;
  width: 100%;
}

.home-banner-a {
  background-color: var(--header-background);
  text-align: center;
  grid-row: 4/6;
  grid-column: 2/4;
  border-radius: 10px;
  color: var(--nav-secondary-font);
  transition: 0.5s;
  z-index: 1;
  box-shadow: 1px 1px 10px black;
}

.home-banner-a:hover {
  transition: 0.5s;
  background-color: var(--nav-primary-background);
  color: var(--nav-primary-font);
  transform: skew(-5deg, 5deg);
}

/* ----------------------------------------------Coastal Area---------------------------------------------------------------------- */
.coastal-area {
  background-color: #ffc6d96c;
}

.coastal-area-header {
  text-align: center;
}

.coastal-area-msg {
  padding: 15px;
}

/* -------------------------------------------Social Media ------------------------------------------------------------------------ */
.social-media {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.social-media-img {
  grid-column: 1/6;
  grid-row: 1/6;
}

.social-media h1 {
  grid-column: 2/5;
  grid-row: 1/2;
  z-index: 1;
  text-align: center;
}

.facebook {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 1;
  transition: 0.5s;
  place-self: center;
}

.twitter {
  grid-column: 4/5;
  grid-row: 3/4;
  z-index: 1;
  transition: 0.5s;
  place-self: center;
}
.facebook img,
.twitter img,
.instagram img {
  transition: 0.5s;
}

.instagram {
  grid-column: 2/3;
  grid-row: 4/5;
  z-index: 1;
  transition: 0.5s;
  place-self: center;
}

.facebook:hover,
.instagram:hover {
  transition: 0.5s;
  transform: skew(-5deg, 5deg);
}

.twitter:hover {
  transition: 0.5s;
  transform: skew(5deg, -5deg);
}

/* ----------------------------------------Order Drink ----------------------------------------------------------------------------------*/
fieldset label {
  width: 100%;
  margin-top: 10px;
}

fieldset {
  border: none;
}

form label input:required {
  border-top: rgba(255, 0, 0, 0.699) solid 5px;
}

form label input:required:valid {
  border-top: rgba(0, 128, 0, 0.692) solid 5px;
}

form input.submitBtn {
  background-color: var(--header-background);
  text-align: center;
  color: var(--nav-secondary-font);
  transition: 0.5s;
  z-index: 1;
  border: none;
  border-radius: 0;
  padding: 1rem 1.5rem;
  margin: 2% 0;
  width: 100%;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
  font-size: 150%;
}

form input.submitBtn:hover {
  transition: 0.5s;
  background-color: var(--nav-primary-background);
  color: var(--nav-primary-font);
  transform: skew(-1deg, 1deg);
}

form h3 {
  text-align: left;
  margin: 25px 0 -15px 0;
}

form label .input,
textarea {
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
}

.options p {
  padding: 0.75rem 0;
  color: var(--nav-secondary-background);
  text-align: start;
  margin: 0;
  display: inline-block;
  font-size: 150%;
}
.checkbox {
  margin: 0 5px 0 10px;
}

.options {
  display: flex;
  flex-flow: column wrap;
}

.reciept {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 320px;
  margin: 0 auto;
}
.totals {
  padding: 0 10px;
}

.options h3 {
  margin: 25px 0 0 0;
}

select {
  display: block;
  padding: 0.75rem;
  color: var(--nav-primary-font);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0;
  width: 100%;
  max-width: 94.78%;
  font-size: 150%;
}

/*----------------------------------------------------------------------------Your Juice -----------------------------------------------------------------------------*/
.yourjuice {
  padding: 10px;
  background-color: var(--header-font-color);
}

/*-----------------------------------------------------------------------------Weather ----------------------------------------------------------------------------------------*/

.weather {
  text-align: center;
  margin: 0;
}

.weather div:nth-child(odd),
.weather h1 {
  background-color: var(--header-font-color);
  color: var(--h-font);
  padding: 10px;
  margin: 0;
}
.weather div:nth-child(even) {
  background-color: var(--h-font);
  color: var(--header-font-color);
  padding: 10px;
}

/*------------------------------------About Us -----------------------------------*/
.contact {
  background-color: var(--nav-primary-background);
  padding: 15px;
}
