body{
    font-size: 30px;
    padding-bottom: 57px;
    margin: 0;
}
h1,
h2,
h3,
p,
footer {
    max-width: 100vw;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
h1,
footer {
    background-color: aliceblue;
    font-size: 2rem;
}
h2 {
    font-size: 6rem;
    padding-top: 100px;
}
h3 {
    font-size: 5rem;
}
footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}
p {
    padding-top: 50px;
    max-width: 1000;
}
.img1{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    height: auto;
}
img {
    max-width: 300px;
    height: auto;
    
}
.blind {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-bottom: 350px;
}
ol {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    max-width: 600px;
    }
.contrast {
    display: flex;
}
.badcontrast, .goodcontrast {
    padding: 200px;
    background-color: yellow;
}
.badcontrast {
    color: white;
}

.nontexttitle {
    margin-bottom: 200px;
}
button {
    margin: 60px;
}
.buttons {
    display: flex;
    justify-content: center;
}