@media only screen and (min-width: 1024px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    max-width: 1390px;
    margin: 0 auto;
  }

  .heroimg {
    height: 97%;
    object-fit: cover;
    object-position: bottom;
  }

  .herojoin-button-box {
    align-self: center;
  }

  .herobanner {
    overflow: hidden;
  }

  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation li:first-child {
    display: none;
  }
  .sl3 {
    display: block;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "special special special special"  
      "event banner banner spotlight"
      "weather banner banner spotlight"
      "join news news spotlight";
    max-width: 1438px;
    margin: 0 auto;
    
  }
  .spotlights {
    flex-direction: column;
  }
  form label.sbs {
    padding: .4rem 0; 
  }
  form {
    margin: 10px;
  }
  #jointitle {
    grid-column: 2/4;
  }
  #membership {
    grid-column: 3/5;
    margin-right: 10px;
  }
  .benefitlist {
    margin: 0 0 20px 100px;
  }
}