@media only screen and (min-width: 737px) {
  .navigation {
    flex-direction: row;
  }

  .responsive li {
    min-width: 200px;
  }

  .logobox {
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-height: 250px;
    width: auto;
  }

  #date {
    grid-column: 5/7;
  }

  .logo {
    max-width: 11rem;
    justify-self: end;
  }

  .title {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 50px;
  }

  #date {
    align-self: center;
  }

  .fb {
    width: 64px;
    height: 64px;
  }

  .twitter {
    width: 64px;
    height: 64px;
    justify-content: space-between;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "special special special"
      "banner banner banner"
      "news news news"
      "spotlight spotlight spotlight"
      "join join join"
      "event event weather";
    gap: 10px;
    margin: 10px;
  }

  #specialbanner {
    grid-area: special;
  }

  .herobanner {
    grid-area: banner;
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
  }

  .news {
    grid-area: news;
  }

  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: join;
  }

  .spotlights {
    flex-direction: row;
  }

  main section,
  .heroimg {
    border-radius: 5px;
  }

  .kauai {
    font-size: 4rem;
    margin-top: 83px;
  }

  #date {
    font-size: 2rem;
  }

  .icons {
    width: 4rem;
  }

  .divider {
    display: inline;
  }

  .left,
  .right {
    width: 50%;
    margin: 10px;
    transition: all .8s;
    box-shadow: 0px 0px 10px 1px black;
  }

  .left:hover,
  .right:hover {
    scale: 1.01;
    box-shadow: 0px 0px 100px 1px black;
  }

  form {
    grid-column: 1/3;
    grid-row: 2/7;
  }
  form fieldset {
    border-radius: 5px;
  }

  #jointitle {
    grid-column: 2/3;
    padding: 0;
  }
  #membership {
    grid-column: 3/4;
    grid-row: 2/6;
  }
  .benefitlist {
    margin: 0 0 20px 10px;
}
}